@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* =============tailwind config css start=========== */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ==============tailwind config css end============= */


html,
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* ==========  nav submenu animate start ============ */
.sub-menu-animate{
  left: 0;
  transition: left .2s linear
}
.sub-menu-animate:hover{
  left: 10px;
}
/* ==========  nav submenu animate end ============ */


/*============== menu border animate start============== */

.border-animate::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  left: 50%;
  bottom: 0px;
  background-color: #FCB700;
  transition: all ease-in-out .2s;
}
.border-animate:hover::after{
  width: 100%;
  left: 0;
}
/*============== menu border animate end============== */


/* ============== add to card animation start ================ */
.addToCardAnimate{
  bottom: -56px;
  transition: all .3s ease;
}

.hoverAddToCardAnimate{
  bottom: 48px;
  transform: translateY(100%)
}
/* ============== add to card animation end ================ */


/* ============= button animation start ========= */
.btn-animate{
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .4s ;
}
.btn-animate:hover {
  background-size: 100% 100%;
}
/* ============= button animation end ========= */